@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: black;
    }
    100% {
        background-color: #306;
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}


/* .background{
    width: 100%;
    height: 100vh;
    background: url('futuristic-video-game-controller-background-with-text-space_1017-54730.avif') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
} */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('futuristic-video-game-controller-background-with-text-space_1017-54730.avif') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.text-sci h2 {
    font-size: 30px;
    position: center;
        line-height: 1;
}

.text-sci h2 span {

    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color:#e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;   
    
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#e4e4e4;
}

.logreg-box .form-box.login {
    transform: translateX(0);
    transition: transform .6s ease;
}

.logreg-box.active .form-box.login {
    transform: translateX(430px);
    transition-delay: 0s;
}



.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}
.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: blueviolet;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}









.blog-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container {
    background: #fafafa;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}

.blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover {
    background: url('i.jpg');
    position: absolute;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 2) 0 64px 64px 16 px;
}

    

.blog-body {
    margin: 10px auto 10px auto;
    width: 80%;
}

.blog-title h1 a {
    color: #333;
    font-weight: 1000;
}

.blog-text {
    color: black;
    text-align: justify;
    margin-bottom: 10px;
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

.blog-tags li+li {
    margin-left: 5rem;
}

.blog-tags a {
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

.blog-footer {
    border-top: 1px solid #e6e6e6;
    margin: 0 auto;
    padding: 5px 0;
    width: 80%;
}

.blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li {
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;

}
.blog-container {
    width: 50rem;
}

